# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
# testing
/coverage

# production
/build
/build2
**/build

# backend
/bin
**/bin

# api
/dist
**/dist

# misc
.token
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log
.DS_Store

# hardhat tooling
**/artifacts
**/cache
