.App {
  display: grid;

  grid-template-areas: "header header"
                       "fileexplorer userexplorer";

  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
}

html, body, #root, .App {
  height: 100%;
  font-family: Roboto, sans-serif;
}

.anchor-button:visited {
  color: black;
}

.selected-path {
  background-color: #ddd;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
  grid-area: header;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.file-explorer {
  grid-area: fileexplorer;
  background-color: #aea;
  overflow: scroll;
}

.user-explorer {
  grid-area: userexplorer;
}
