.App {
  display: grid;

  grid-template-areas: "header header"
                       "fileexplorer userexplorer";

  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  width: 100%;
}

html, body, #root, .App {
  height: 100%;
  font-family: Roboto, sans-serif;
}

.anchor-button:visited {
  color: black;
}

.selected-path {
  background-color: #ddd;
}

.App-intro {
  font-size: large;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.plugin-pane {
  overflow: scroll;
  background-color: white;
  border-radius: 5px;
  margin: 8px;
}

.file-explorer {
  grid-area: fileexplorer;
}

.user-explorer {
  grid-area: userexplorer;
}
